body {
  padding: 0px;
  margin: 0px;
  height: 100vh;
  background-color: #264653;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header,
.footer {
  padding: 20px;
  font-family: "Caveat Brush", Verdana, sans-serif;
  color: #e9c46a;
}

.header {
  font-size: 72px;
}

.footer {
  font-size: 22px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#grid,
.grid16,
.grid32,
.grid64 {
  box-sizing: border-box;
  width: 600px;
  height: 600px;
  display: grid;
}

#grid {
  border-radius: 10px;
  padding: 10px;
  background-color: #e76f51;
}

.grid16 {
  grid-template-columns: repeat(16, 1fr);
}

.grid32 {
  grid-template-columns: repeat(32, 1fr);
}

.grid64 {
  grid-template-columns: repeat(64, 1fr);
}

.grid-item {
  border: 0.5px solid #fff;
  background-color: #fff;
}

.buttons {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  justify-content: flex-start;
  gap: 20px;
}

.btn-grid {
  height: 50px;
  width: 200px;
  border-radius: 10px;
  border: 1px solid;
  font-weight: 600;
  color: #ebebeb;
  background-color: #2a9d8f;
  font-size: 16px;
  transition: background-color 0.2s ease-in, width 0.2s ease-in,
    height 0.2s ease-in, font-size 0.2s, color 0.2s;
}

.btn-grid:hover {
  height: 52px;
  width: 208px;
  font-size: 17px;
  border-color: #fff;
  background-color: #f4a261;
}
